@model IEnumerable<FitnessLFG.Models.Crud>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="records" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxNumberPeople)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxNumberPeople)
                </td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.CrudId">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.CrudId"
                       onclick='return confirm("Are you sure?");'>
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/datatable/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#records').DataTable();
        });
    </script>

}